@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Fraunces");

* {
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text {
    max-width: 350px;
    padding: 30px;
}

.description {
    font-family: 'Montserrat';
    font-weight: 700;
}

img {
    max-width: 350px;
    height: auto;
}

h3 {
    font-family: 'Montserrat';
    font-weight: 100;
}

h2 {
    font-family: 'Fraunces';
}